# IF Condtion

In [ ]:
x=int(input("Enter the number"))

if x>0:
    print("x is greater than 0")
elif x<0:
    print("x is lesser than o")
else:
    print("x is equal to zero")

In [ ]:
number = int(input("Enter the number"))

if number%2 ==0:
    print("it is a even number ")
elif number%3 ==0:
    print("it is a odd number")
else:
    print ("Not sure")

# While loop

In [ ]:
i =1

while i<=6:
    print(i)

    if(i==5):
        break
    i+= 1

In [13]:
x = int(input("enter the number"))
while x<=5:
    print(x)
    x +=1
    if(x==3):
        print(x,"is not the relevant number")

enter the number 1

1
2
3 is not the relevant number
3
4
5

# for loop

In [11]:
make =["TVS","KTM","HONDA"]
year=["2019","2020","2021"]
cc=["160","150","100"]

for item in make:
    for item1 in year:
        for item2 in cc:
            print(item,item1,item2)

TVS 2019 160
TVS 2019 150
TVS 2019 100
TVS 2020 160
TVS 2020 150
TVS 2020 100
TVS 2021 160
TVS 2021 150
TVS 2021 100
KTM 2019 160
KTM 2019 150
KTM 2019 100
KTM 2020 160
KTM 2020 150
KTM 2020 100
KTM 2021 160
KTM 2021 150
KTM 2021 100
HONDA 2019 160
HONDA 2019 150
HONDA 2019 100
HONDA 2020 160
HONDA 2020 150
HONDA 2020 100
HONDA 2021 160
HONDA 2021 150
HONDA 2021 100

# List

In [52]:
list=["bike","CAR","train",12,34,45]
print(list)
list.append("E-bike")
print(list)
list.remove(34)
print(list)
list.insert(1,14)
list2=list.copy()
print(list.count(12))
list.pop(0)
list.extend(["santhu","harish"])
print(list.index(45))
print(list)

['bike', 'CAR', 'train', 12, 34, 45]
['bike', 'CAR', 'train', 12, 34, 45, 'E-bike']
['bike', 'CAR', 'train', 12, 45, 'E-bike']
1
4
[14, 'CAR', 'train', 12, 45, 'E-bike', 'santhu', 'harish']

# Tuple

In [121]:
tuple1=("bike","CAR","train",12,34,45)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('bike', 'CAR', 'train', 12, 34, 45)

# dictionary

In [119]:
dict1={'bike':22,'car':24,'bus':25}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
dict1.fromkeys("bike")
tuple1=("bike","CAR","train",12,34,45)
y=(23,24,25)
dict2=dict.fromkeys(tuple1,y)
print(dict2)
print(dict1.get("bike"))
print(dict2.pop("CAR"))
print(dict2.popitem())

{'bike': 22, 'car': 24, 'bus': 25}
dict_keys(['bike', 'car', 'bus'])
dict_values([22, 24, 25])
dict_items([('bike', 22), ('car', 24), ('bus', 25)])
{'bike': (23, 24, 25), 'CAR': (23, 24, 25), 'train': (23, 24, 25), 12: (23, 24, 25), 34: (23, 24, 25), 45: (23, 24, 25)}
22
(23, 24, 25)
(45, (23, 24, 25))

# set

In [127]:
set1=set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [146]:
set1={12,13,14,12,4,5,6}
set2={12,15,14,5,7}
set3=set1.intersection(set2)
print(set3)
set4=set1.union(set2)
print(set4)
set5=set1.symmetric_difference(set2)
print(set5)

{12, 5, 14}
{4, 5, 6, 7, 12, 13, 14, 15}
{4, 6, 7, 13, 15}

# module

In [158]:
import math
print(math.sqrt(4))
print(math.pow(3,2))

2.0
9.0