In [27]:
from random import randint,randrange,shuffle

print(randint(-10,-1))

print(randrange(0,20,1))


bikes=['tvs','honda','ktm']
print (shuffle(bikes))

-3
16
None

# Creating Functions

In [32]:
def hello(name,place,age):
    print(name,"welocome to",place,"your age",age)

In [34]:
hello('santhosh','hassan',24)

santhosh welocome to hassan your age 24

In [36]:
def hello(*a):
    print(a)

In [40]:
hello("c++","java","python",89)

('c++', 'java', 'python', 89)

In [42]:
def func(**dec):
    for x in dec:
        print(x)

In [46]:
func(car=1,bike=2)
hello("c++","java","python",89)

car
bike
('c++', 'java', 'python', 89)

In [62]:
# initialize the amount variable

marks = 10000
 
# perform division with 0

a = marks / 0

print(a)

ZeroDivisionError: division by zero

In [64]:
#Error handling

a = [1, 2, 3]

try:

    print ("First element = {}".format(a[1]))

    print ("Second element = {}".format(a[-4]))
 
except:

    print ("An error occurred")

First element = 2
An error occurred

In [66]:
def fun(a):

    if a < 4: # T

        b = a/(a-3) # -2

    print("Value of b = ", b) #-2

try:

    fun(2)

   # fun(3)

   # fun(4)

  #  fun(5)

except ZeroDivisionError:

    print("ZeroDivisionError Occurred and Handled")

except NameError:

    print("NameError Occurred and Handled")

Value of b =  -2.0

In [68]:
# Python program to demonstrate finally
 
# No exception Exception raised in try block

try:

    k = 5//0

    print(k)
 
 
except ZeroDivisionError:

    print("Can't divide by zero")
 
finally:

    print('This is always executed')

Can't divide by zero
This is always executed

In [82]:
 
# import module sys to get the type of exception

import sys # sys module
 
randomList = ['a', 0, 2,4]

#randomList = ['a',0]

for entry in randomList:

    try:

        print("The entry is", entry)

        r = 1/int(entry)

        # break

    except:

        print("Oops!", [sys.exc_info()[1]], "occurred.")

        # print(sys.exc_info())

        print("Next entry.")

        print()
print(randomList) 
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! [ValueError("invalid literal for int() with base 10: 'a'")] occurred.
Next entry.

The entry is 0
Oops! [ZeroDivisionError('division by zero')] occurred.
Next entry.

The entry is 2
The entry is 4
['a', 0, 2, 4]
The reciprocal of 4 is 0.25

In [58]:
# AssertionError with error_message.

x = 1

y = 0

assert y != 0, "Nonsense Operation" # denominator can't be 0

print(x / y)

AssertionError: Nonsense Operation

In [60]:
 # Handling it manually

  try:

      x = 1

      y = 0

      assert y != 0, "Nonsense Operation"

      print(x / y)
 
  # the errror_message provided by the user gets printed

  except AssertionError as msg:

      print(msg)

Nonsense Operation

# List Comprehension

In [95]:
numbers=[1,2,3,4,5,6,7,8,9]
even_num=[a for a in numbers if a%2==0]
print(even_num)

[2, 4, 6, 8]

# Dictionary Comprehension

In [136]:
dict1={'banana':12,'orange':15,'kiwi':16}
dict1.items()
for key,value in dict1.items():
    print(key)
    print(value)

dict2={key:value for key,value in dict1.items() if value%2==0}
print(dict2)

banana
12
orange
15
kiwi
16
{'banana': 12, 'kiwi': 16}

In [120]:
dict1={'banana':12,'orange':15,'kiwi':16}

dict2={key:value  for key,value in dict1.items() if value%2==0}

print(dict2)

{'banana': 12, 'kiwi': 16}

# Object Oriented Programming (OOP)

In [149]:
class Car():
    hounda=10
    kia=20
car1 = Car()
print(car1.kia)
print(Car().hounda)

20
10

In [213]:
class Student():
    def __init__(self, first, last, pay):
        self.first=first
        self.last=last
        self.email=first+"."+last+"@gmail.com"
        self.pay=pay

stu1 = Student("santhosh","gowda",2000)


print(stu1.first)
print(stu1.last)

santhosh
gowda

In [161]:
class Employee():
    def __init__(self,first,last,pay):  # when you put 'self' the rest of the variables are mapped to the class
        self.first = first
        self.last = last
        self.email = first+"."+last+"@gmail.com"
        self.pay = pay

In [165]:
emp_1  = Employee ("kalyan","ramani",60000)
emp_2  = Employee ("subu","muthukrishnan",50000)

print(emp_1.email)

kalyan.ramani@gmail.com